*.class
.clerk
*.jar
*.swp
*~
*.log
.DS_Store
.calva/output-window/
.classpath
.clj-kondo
!.clj-kondo/config.edn
.cpcache
.eastwood
.factorypath
.hg/
.hgignore
.java-version
.lein-*
.lsp/.cache
.lsp/sqlite.db
.nrepl-history
.nrepl-port
.project
.portal
.rebel_readline_history
.settings
.socket-repl-port
.sw*
.vscode
/checkouts
/classes
/target
.idea/
*.iml
config.edn
qdrant_storage
