!.clj-kondo/config.edn
*.class
*.iml
*.jar
*.log
*.swp
*~
.DS_Store
.cache
.calva/output-window/
.classpath
.clerk
.clj-kondo
.cpcache
.eastwood
.factorypath
.hg/
.hgignore
.idea/
.java-version
.lein-*
.lsp/.cache
.lsp/sqlite.db
.nrepl-history
.nrepl-port
.portal
.project
.projectile-cache.eld
.rebel_readline_history
.settings
.socket-repl-port
.sw*
.vscode
/checkouts
/classes
/target
bllm
config.edn
data
models
qdrant_storage
secrets.edn
