{:paths ["src" "test" "dev"]
 :tasks {:init             (do (def standalone-jar-file "target/antq-standalone.jar")
                               (def jar-file "target/antq.jar"))
         rebel             (clojure "-M:dev:rebel")
         outdated          (clojure "-M:outdated")
         test:watch        (do (clojure "-M:outdated")
                               (clojure "-M:kaocha:test"))
         lint              (do (shell "echo cljstyle") ;; I don't have clj-style
                               (shell "clj-kondo --lint src:test"))
         format            (shell "cljfmt check")
         format:fix        (shell "cljfmt fix")
         pom               (clojure "-Spom")
         clean             (shell "rm -rf .cpcache target")
         deploy            (clojure "-T:build" "build/deploy")
         uber              (clojure "-T:build" "uber")
         docs              (do (shell "rm -rf docs")
                               (clojure "-X:dev user/build-static-docs"))
         mitproxy:keystore (do
                             (let [bsq-dir (str (System/getProperty "user.home") "/.bosquet")
                                   mtp-dir (str (System/getProperty "user.home") "/.mitmproxy")]
                               (shell (str "mkdir -p " bsq-dir))
                               (shell (format "keytool -import -alias mitproxy -keystore %s/keystore -file %s/mitmproxy-ca-cert.pem -storepass changeit"
                                              bsq-dir mtp-dir))))
         native:build      (shell
                            "native-image"
                            "--report-unsupported-elements-at-runtime"
                            "--features=clj_easy.graal_build_time.InitClojureClasses"
                            "--initialize-at-run-time=org.apache.http.impl.auth.NTLMEngineImpl"
                            "--trace-object-instantiation=java.lang.Thread"
                            "--initialize-at-build-time"
                            "-O1"
                            "-H:+UnlockExperimentalVMOptions"
                            "-H:+AllowDeprecatedBuilderClassesOnImageClasspath"
                            "-jar" "target/bosquet-2024.01.29-standalone.jar"
                            "-H:Name=" "bllm")
         lang:sent:en      (do
                             (shell "mkdir -p lang/en")
                             (shell (str "wget -O models/lang/en/sentence-detector.bin "
                                         "https://dlcdn.apache.org/opennlp/models/ud-models-1.0/opennlp-en-ud-ewt-sentence-1.0-1.9.3.bin")))}}
