{:azure-openai-api-key      "<AZURE OPENAI API KEY>"
 :azure-openai-api-endpoint "<URL TO AZURE ENDPOINT>"
 :openai-api-key            "<OPENAI API KEY>"
 :cohere-api-key            "<COHERE API KEY>"}
