{:paths   ["src" "resources"]
 :deps    {org.clojure/clojure {:mvn/version "1.11.1"}
           clj-http/clj-http   {:mvn/version "3.12.3"}
           metosin/jsonista    {:mvn/version "0.3.7"}
           selmer/selmer       {:mvn/version "1.12.55"}
           com.wsscode/pathom3 {:mvn/version "2022.10.19-alpha"}}
 :aliases {:test  {:extra-paths ["test"]
                   :extra-deps  {org.clojure/test.check {:mvn/version "1.1.1"}
                                 io.github.cognitect-labs/test-runner
                                 {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}}}
