{:paths   ["src" "resources"]
 :deps    {org.clojure/clojure             {:mvn/version "1.11.1"}
           io.github.zmedelis/selmer       {:mvn/version "0.7.9"}
           com.wsscode/pathom3             {:mvn/version "2023.08.22-alpha"}
           net.clojars.wkok/openai-clojure {:mvn/version "0.11.0"}
           org.flatland/useful             {:mvn/version "0.11.6"}
           com.taoensso/timbre             {:mvn/version "6.3.1"}
           com.knuddels/jtokkit            {:mvn/version "0.6.1"}
           http-kit/http-kit               {:mvn/version "2.7.0"}
           metosin/jsonista                {:mvn/version "0.3.8"}
           org.clojars.danielsz/cohere     {:mvn/version "1.0.0"}
           com.taoensso/encore             {:mvn/version "3.68.0"}
           io.aviso/pretty                 {:mvn/version "1.4.4"}
           integrant/integrant             {:mvn/version "0.8.1"}
           aero/aero                       {:mvn/version "1.1.6"}
           org.clojure/core.cache          {:mvn/version "1.0.225"}
           metosin/malli                   {:mvn/version "0.13.0"}
           org.apache.commons/commons-text {:mvn/version "1.10.0"}}
 :aliases {:dev        {:extra-paths ["dev" "notebook"]
                        :extra-deps  {io.github.nextjournal/clerk {:mvn/version "0.15.957"}
                                      djblue/portal               {:mvn/version "0.48.0"}}}
           :neil       {:project {:name    io.github.zmedelis/bosquet
                                  :version "0.3.7"}}
           :rebel      {:extra-deps {com.bhauman/rebel-readline {:mvn/version "0.1.4"}}
                        :main-opts  ["-m" "rebel-readline.main"]}
           :outdated   {:deps      {com.github.liquidz/antq {:mvn/version "RELEASE"}}
                        :main-opts ["-m" "antq.core" "--upgrade"]}
           :test       {:extra-deps {nubank/matcher-combinators {:mvn/version "3.8.8"}}}
           :kaocha     {:main-opts   ["-m" "kaocha.runner"]
                        :extra-paths ["test"]
                        :extra-deps  {lambdaisland/kaocha {:mvn/version "1.87.1366"}}}
           :build      {:deps               {io.github.clojure/tools.build {:git/tag "v0.9.6"
                                                                            :git/sha "8e78bcc"}}
                        slipset/deps-deploy {:mvn/version "0.2.1"}}
           :ns-default build}}
