{:play.prompt/review
 "You are a play critic from the New York Times. Given the synopsis of play, it is your job to write a review for that play.

Play Synopsis:
{{play..prompt/synopsis}}
Review from a New York Times play critic of the above play:"

 :play.prompt/synopsis
  "You are a playwright. Given the title of play and the era it is set in, it is your job to write a synopsis for that title.

Title: {{title}}
Era: {{era}}
Playwright: This is a synopsis for the above play:"}
