{:prompt/introduction
 "Jack and Diane just had their wedding in Puerto Rico and it is time to write thank you cards.
For each guest, write a thoughtful, sincere, and personalized thank you note using the information provided below."

 :prompt/examples
 "Guest Information: {{letter-examples/guest}}
First, let's think step by step: {{letter-examples/step}}
Next, let's draft the letter: {{letter-examples/note}}"

 :prompt/complete-for
 "Guest Information: Name: {{guests/name}}
Relationship: {{guests/relationship}}
Gift: {{guests/gift}}
Hometown: {{guests/hometown}}

First, let's think step by step:"}
