{:wedding.prompt/letter
 "Jack and Diane just had their wedding in Puerto Rico and it is time to
write thank you cards. For each guest, write a thoughtful, sincere, and
personalized thank you note using the information provided below.

{% for guest,step,note in examples %}
Guest Information: {{guest}}

First, let's think step by step: {{step}}

Next, let's draft the letter: {{note}}
{% endfor %}

Guest Information: Name: {{name}}
Relationship: {{relationship}}
Gift: {{gift}}
Hometown: {{hometown}}

First, let's think step by step:
{% ai-completion %}"}
