{:babbage-002               :openai
 :davinci-002               :openai
 :gpt-3.5                   :openai
 :gpt-3.5-turbo             :openai
 :gpt-3.5-turbo-0125        :openai
 :gpt-3.5-turbo-0301        :openai
 :gpt-3.5-turbo-0613        :openai
 :gpt-3.5-turbo-1106        :openai
 :gpt-3.5-turbo-16k-0613    :openai
 :gpt-3.5-turbo-instruct    :openai
 :gpt-4                     :openai
 :gpt-4-0125-preview        :openai
 :gpt-4-1106-preview        :openai
 :gpt-4-1106-vision-preview :openai
 :gpt-4-32k                 :openai
 :text-embedding-3-large    :openai
 :text-embedding-3-small    :openai
 :text-embedding-ada-002    :openai
 :open-mistral-7b           :mistral
 :open-mixtral-8x7b         :mistral
 :mistral-small-latest      :mistral
 :mistral-medium-latest     :mistral
 :mistral-large-latest      :mistral
 :mistral-small             :mistral
 :mistral-medium            :mistral
 :mistral-large             :mistral
 :command                   :cohere
 :command-light             :cohere
 :command-light-nightly     :cohere}
