{:config #merge
 ;; The merge is needed to avoid Aero #ref complaining
 ;; that the key is not found when those keys are not defined
 ;; in the config.edn file.
 [{:cohere-api-key       nil
   :azure-openai-api-key nil
   :openai-api-key       nil}
  #include "config.edn"]

 ;; config.edn is a file that contains settings for the LLM services,
 ;; Tools, and other components. Those include config options as well as
 ;; sensitive information like keys, passwords or other secrets. In case of
 ;; *secrets* config bellow does not setup alternative - env var based -
 ;; config values.

 ;; Config for OpenAI LLM provided by OpenAI
 [:llm/openai :provider/openai]
 {:api-key      #ref [:config :openai-api-key]
  :api-endpoint #or [#env "OPENAI_API_ENDPOINT"
                     #ref [:config :openai-api-endpoint]
                     "https://api.openai.com/v1"]
  :impl         :openai}

 ;; Config for OpenAI LLM provided by MS Azure
 [:llm/openai :provider/azure]
 {:api-key      #ref [:config :azure-openai-api-key]
  :api-endpoint #or [#env "AZURE_OPENAI_API_ENDPOINT"
                     #ref [:config :azure-openai-api-endpoint]]
  :impl         :azure}

 ;; Default LLM service to use if this is not specified in the
 ;; `generate` call options
 :llm/default-llm [:llm/openai :provider/openai]

 ;; Config for Cohere LLM
 :llm/cohere
 {:api-key #ref [:config :cohere-api-key]
  :model-name-mapping
  {:gpt-3.5        :command
   :gpt-4          :command
   :text-ada-001   :command-light
   :text-curie-001 :command-light}}}
