{:config #include "config.edn"

 ;; config.edn is a file that contains settings for the LLM services,
 ;; Tools, and other components. Those include config options as well as
 ;; sensitive information like keys, passwords or other secrets. In case of
 ;; *secrets* config bellow does not setup alternative - env var based -
 ;; config values.

 ;; ######################################################################
 ;; LLM services
 ;; ######################################################################

 ;; Config for OpenAI LLM provided by OpenAI
 :llm/openai
 {:api-key      #ref [:config :openai-api-key]
  :api-endpoint #or [#env "OPENAI_API_ENDPOINT"
                     #ref [:config :openai-api-endpoint]
                     "https://api.openai.com/v1"]
  :impl         :openai}

 ;; Config for OpenAI LLM provided by MS Azure
 :llm/openai-azure
 {:api-key      #ref [:config :azure-openai-api-key]
  :api-endpoint #or [#env "AZURE_OPENAI_API_ENDPOINT"
                     #ref [:config :azure-openai-api-endpoint]]
  :impl         :azure}

 ;; Config for Cohere LLM
 :llm/cohere
 {:api-key #ref [:config :cohere-api-key]
  :model-name-mapping
  {:gpt-3.5        :command
   :gpt-4          :command
   :text-ada-001   :command-light
   :text-curie-001 :command-light}}

 ;; Config for LM Studio LLM services
 :llm/lm-studio
 {:api-endpoint #or [#env "LMSTUDIO_API_ENDPOINT"
                     #ref [:config :lmstudio-api-endpoint]
                     "https://localhost:1234/v1"]}


 ;; ######################################################################
 ;; Embedding services
 ;; ######################################################################

 :embedding/openai
 {:api-key      #ref [:config :openai-api-key]
  :api-endpoint #or [#env "OPENAI_API_EMBEDDINGS_ENDPOINT"
                     #ref [:config :openai-api-embeddings-endpoint]
                     "https://api.openai.com/v1"]
  :impl         :openai}

 ;; ######################################################################
 ;; DB
 ;; ######################################################################

 :db/qdrant
 {:host             #or [#ref [:config :qdrant-host] "localhost"]
  :port             #or [#ref [:config :qdrant-port] 6333]
  :vectors-on-disk  #or [#ref [:config :qdrant-vectors-on-disk] true]
  :vectors-size     #or [#ref [:config :qdrant-vectors-size] 1536]
  :vectors-distance #or [#ref [:config :qdrant-vectors-distance] :Dot]}

 ;; ######################################################################
 ;; Memory components
 ;; ######################################################################

 ;; Simple memory stores everyting in atom. For dev/demo purposes only.
 :memory/simple-short-term {}

 ;; Long term memory that converts data going through AI generations to
 ;; embeddings and stores them in DB.
 :memory/long-term-embeddings
 {:encoder #ig/ref :embedding/openai
  :storage #ig/ref :db/qdrant}}
