{:problem-solver/basic-qna
 "Problem: {{prompt-example/problem}}
Solution: {{prompt-example/solution}}
Problem: {{completion/problem}}
Solution: {% llm-generate %}"

 :problem-solver/cot
 "Problem: {{prompt-example/problem}}
Solution: {{prompt-example/cot}} {{prompt-example/solution}}
Problem: {{completion/problem}}
{% llm-generate %}"


 :problem-solver/zero-shot
 "{{prompt/complete-for}}
Let's think step by step.
{{aigen/complete}}
Therefore, the answer (arabic numerals) is {% llm-generate %}"}

;; "Basic Problem-Solution prompt giving one `problem` and its ;;
;; `solution` example. Optional `context` to start with setting the topic."
;;
;; "[Chain-of-Thought Prompting Elicits Reasoning in Large Language Models](https://arxiv.org/pdf/2201.11903.pdf) ;;

;;   Good for:
;;   - arithmetic
;;   - commonsense
;;   - symbolic reasoning."
