{ :problem-solver/basic-qna
 "Problem: {{prompt-example/problem}}
Solution: {{prompt-example/solution}}
Problem: {{completion/problem}}
Solution: ((bosquet.openai/get-completion))"

 :problem-solver/cot
 "Problem: {{prompt-example/problem}}
Solution: {{prompt-example/cot}} {{prompt-example/solution}}
Problem: {{completion/problem}}
((bosquet.openai/get-completion))"

 :prompt.template/zero-shot
 "{{prompt/complete-for}}
Let's think step by step.
{{aigen/complete}}
Therefore, the answer (arabic numerals) is "}
