{:prompt-structure/context
 "Answer provided questions."

 :prompt-structure/qna-setup-batch
 "{{prompt-structure/context}}

Questions:
{% for t in examples %}
Q: {{t.question}}
{% endfor %}

Answers:
{% for t in examples %}
A: {{t.answer}}
{% endfor %}"

 :prompt-structure/qna
 "Questions:
{{prompt-structure/qna-setup-batch}}
Answers:
{% llm-generate %}"}
