{:text-analyzer/summarize-to-sentence
 "{{text}}

Summarize this {{text-type}} in a single sentence:
((bosquet.openai/complete))"

 :text-analyzer/assess-sentiment
 "Estimate the sentiment of the following {{text-type|default:text}} as positive, negative or neutral:
{{text-type|default:text}}: {{text}}
Sentiment:
((bosquet.openai/complete))"

 :text-analyzer/assess-sentiment-batch
 "Estimate the sentiment of the following batch of {{text-type|default:text}} as positive, negative or neutral:
{% for t in text %}
* {{t}}
{% endfor %}

Sentiments:
*((bosquet.openai/complete))"}
