{:classification/classify
 "{{instruction/extract}}
{{instruction/batch}}

{{text-type|default:text}}:
{{instruction/batch-items}}

{{fact}}:
{% llm-generate model=text-davinci-003 var-name=completion %}"}
