[{:question "Who was the primary architect behind the construction of the Great Wall of China?"}
 {:question "What real-life technological advancements in the 19th century inspired Verne's portrayal of the Nautilus?"}
 {:question "What are the key scientific principles behind the development of CRISPR gene-editing technology?"}
 {:question "What instruments and technology were onboard Voyager 1?"}]
